img {
    float: right;
    width: 70%;
    
}
.head{
    display: flex;
}
h1{
    padding-left: 30px;
    font-size: 50px;
    margin-block-end: 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
ul{
    margin-left: 500px;
    list-style-position: inside;
    margin-top: 30px;
}
li{
    float: right;
    padding: 20px;
    color: white;

}
h2{
    font-style: italic;
    color: white;
}

body{
    background-color: rgb(0, 0, 0);
}
.front{
    padding: 10px;
    margin-right: 150px; 
    padding-right: 350px;
    padding-left: 25px;
}
.front p{
    font-family: Arial, Helvetica, sans-serif;
}
.back{
    display: flex;
    background-color: rgb(114, 76, 202);
    border-radius: 8px;
    padding-left: 10px;
    margin-top: 50px;
    height: 100%
}
.word{
    font-style: italic;
}

@media only screen and (min-width : 320px) and (max-width : 480px) 